:root {
  --background-color: white;
  --font-color: black;
  --primary-color: blue;
  --secondary-color: lightblue;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  min-width: 95dvw;
  max-width: 600px;
  margin: 10px;
  height: 95dvh;
  background-color: white;
  border: solid black 2px;
  border-radius: 20px;
}
