:root {
  --background-color: white;
  --font-color: black;
  --primary-color: blue;
  --secondary-color: lightblue;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh; /* Set to occupy the full viewport height */
  margin: 0; /* Reset margins for the body */
}

.app-container {
  display: flex;
  flex-direction: column; /* Set flex-direction to column to arrange flex items vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 375px;
  margin: 10px auto;
  height: 95dvh;
  background-color: white;
  border: solid black 2px;
  border-radius: 20px;
  position: relative;
  overflow: hidden; /* Hide any content that overflows */
}
